global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# =====================================================================
# FRONTENDS
# =====================================================================
frontend postgres_in
    bind *:5432
    mode tcp
    option tcplog
    default_backend postgres_backend

frontend otlp_grpc_in
    bind *:4317
    mode tcp
    option tcplog
    default_backend vector_otlp_grpc

frontend otlp_http_in
    bind *:4318
    mode http
    default_backend vector_otlp_http

frontend main_router
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/nicolapasqualini.cert.pem
    
    # -----------------------------------------------------------------
    # ALLOWED HOSTS: Define what domains are permitted
    # -----------------------------------------------------------------
    acl is_root_domain   hdr(host) -i nicolapasqualini.it www.nicolapasqualini.it
    acl is_subdomain     hdr_end(host) -i .nicolapasqualini.it

    # -----------------------------------------------------------------
    # SECURITY: Block traffic if it's NOT your domain (e.g. raw IP)
    # -----------------------------------------------------------------
    http-request deny if !is_root_domain !is_subdomain

    # -----------------------------------------------------------------
    # SUB PATH DEFINITIONS: Map URL paths to ACL names by subbaths
    # -----------------------------------------------------------------
    acl is_otlp_http     path_beg /v1/traces /v1/metrics /v1/logs

    # -----------------------------------------------------------------
    # SUB DOMAIN DEFINITIONS: Map generic subdomains to ACL names
    # -----------------------------------------------------------------
    acl is_grafana       hdr_beg(host) -i grafana.
    acl is_sonarqube     hdr_beg(host) -i sonarqube.
    acl is_victorialogs  hdr_beg(host) -i victorialogs.
    acl is_openobserve   hdr_beg(host) -i openobserve.

    # -----------------------------------------------------------------
    # PATH REWRITES: Remove filtered url path section
    # -----------------------------------------------------------------

    # -----------------------------------------------------------------
    # ROUTING: Send ACLs to their specific backends
    # -----------------------------------------------------------------
    use_backend sonarqube_backend       if is_sonarqube
    use_backend grafana_backend         if is_grafana
    use_backend victorialogs_backend    if is_victorialogs
    use_backend openobserve_backend     if is_openobserve
    use_backend vector_otlp_http        if is_otlp_http
    
    # -----------------------------------------------------------------
    # FALLBACK: Default action if no path matches
    # -----------------------------------------------------------------
    default_backend fallback_backend

# =====================================================================
# BACKENDS
# Checks are disabled because depends_on is not implemented in the rust crate
# should be enabled again
# =====================================================================
backend postgres_backend
    mode tcp
    server postgres_node postgres:5432

backend vector_otlp_grpc
    mode tcp
    balance roundrobin
    server vector vector:4317

backend vector_otlp_http
    mode http
    server vector vector:4318

backend sonarqube_backend
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server sonarqube_node sonarqube:9000

backend grafana_backend
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server grafana grafana:3000

backend openobserve_backend
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server openobserve openobserve:5080

backend victorialogs_backend
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server victorialogs victorialogs:9428 

backend fallback_backend
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
